@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Hello and Welcome to TheeRyan's Trash Collection Management inc.   </h1>
        <img src="~/img/cartoon (2).jpg" class="col-sm-10" alt="oh no">
        <p></a>.</p>
    </div>
